:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .coverList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cover {
      width: 226px;
      img {
        margin-top: 1rem;
        width: 226px;
        height: 140px;
        border-radius: 5px;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3);
      }
      .info {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .category {
          color: gray;
          font-size: 13px;
        }
        .score {
          position: relative;
          font-size: 8px;
          div {
            position: absolute;
            overflow: hidden;
            &::before {
              content: '★★★★★';
              color: darkgoldenrod;
              font-weight: bold;
            }
          }
          &::after {
            content: '★★★★★';
            color: lightgray;
            font-weight: bold;
          }
        }
      }
    }
  }
}
