@import '../style';
.list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  margin-bottom: 30px;
  .base {
    display: flex;
    flex-direction: column;
  }
  .star {
    align-self: flex-end;
  }
}
