<dstore-title [title]="section.title|fitLanguage"
              [more]="getMoreUrl">
  <a href="/"></a>
</dstore-title>

<div class="list">
  <ng-container *ngFor="let $index of section.rowSpan*section.colSpan|range">
    <div class="item"
         [routerLink]="$app.name"
         *ngIf="apps[$index]?.name|appInfo|async as $app;else $empty">
      <div class="cover">
        <img [src]="server+'/'+([$app.localInfo.images.cover,$app.localInfo.images.coverHD]|fitImage)">
      </div>
      <div class="info">
        <div class="base">
          <span class="appTitle">{{$app.localInfo.description.name}}</span>
          <span class="subtitle"
                [routerLink]="['/category',$app.category]">{{$app.localCategory}}</span>
        </div>
        <dstore-star class="star"
                     [rate]="$app.rate"></dstore-star>
      </div>
    </div>

    <ng-template #$empty>
      <div class="item empty">
        <img class="cover">
        <div class="info">
          &nbsp;
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>