<dstore-title [title]="section.title|fitLanguage"
              [more]="getMoreUrl">
  <a href="/"></a>
</dstore-title>

<div class="list">
  <ng-container *ngFor="let $index of section.rowSpan*section.colSpan|range">
    <div class="item"
         *ngIf="apps[$index]?.name|appInfo|async as $app;else $empty"
         [routerLink]="$app.name">
      <div class="cover">
        <img [src]="server+'/'+([$app.localInfo.images.cover,$app.localInfo.images.coverHD]|fitImage)">
      </div>
      <div class="info">
        <div class="base">
          <span>{{$app.localInfo.description.name}}</span>
          <span class="subtitle"
                [routerLink]="['/category',$app.category]">{{$app.localCategory}}</span>
        </div>
        <dstore-star class="star"
                     [rate]="$app.rate"></dstore-star>
      </div>
    </div>

    <ng-template #$empty>
      <div class="item empty">
        <img class="cover">
        <div class="info">
          &nbsp;
        </div>
      </div>
    </ng-template>
  </ng-container>

  <!-- <div class="item"
       *ngFor="let app of apps"
       [routerLink]="app.name">
    <ng-container *ngIf="app.name|appInfo|async as appInfo">
      <img class="cover"
           [src]="metadataServer +'/'+ appInfo.localInfo.images.cover">
       <span class="truncate">{{appInfo.localInfo.description.name}}</span>
      <div class="info">
        <span class="category">{{appInfo.localCategory}}</span>
        <dstore-star [rate]="3.4"></dstore-star>
      </div> 
    </ng-container>
  </div> -->
</div>