<dstore-title [title]="title"></dstore-title>
<div class="phraseList">
  <div class="phraseItem" *ngFor="let phrase of phraseList">
    <img [src]="metadataServer + (phrase.name|appInfo|async)?.icon" class="icon">
    <div class="info">
      <span class="truncate">{{(phrase.name|appInfo|async)?.localInfo.description.name}}</span>
      <span class="phrase">{{phrase.phrase[0]}}</span>
    </div>
  </div>
  <div class="phraseItem"></div>
  <div class="phraseItem"></div>
  <div class="phraseItem"></div>
</div>
