.phraseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .phraseItem {
    width: 12rem;
    margin-top: 1rem;
    display: flex;
    .icon {
      width: 48px;
      height: 48px;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 0.5rem;
      width: 80%;
      .phrase {
        color: gray;
        font-size: 13px;
      }
    }
  }
}
