<dstore-title [title]="section.title|fitLanguage"
              [more]="getMore"></dstore-title>
<div class="list">
  <ng-container *ngFor="let $index of (section.colSpan*section.rowSpan)|range">
    <ng-container *ngIf="phraseList[$index] && phraseList[$index].show && appFilter(phraseList[$index].name);else $empty">
      <div class="item"
           *ngIf="phraseList[$index]?.name|appInfo|async as $app"
           [routerLink]="$app.name">
        <img class="icon"
             [src]="metadataServer +'/'+ $app.icon">
        <div class="info">
          <span class="name">{{$app.localInfo.description.name}}</span>
          <span class="subtitle">{{phraseList[$index].phrases|fitLanguage}}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #$empty>
  <div class="item empty">

  </div>
</ng-template>