<dstore-title [title]="section.title[0]"></dstore-title>

<div class="phraseList" *ngIf="apps">
  <div class="phraseItem" *ngFor="let app of apps;let i = index">
    <img [src]="metadataServer+app.icon" class="icon">
    <div class="info">
      <span class="truncate">{{app.localInfo.description.name}}</span>
      <span class="phrase">{{section.items[i].phrase[0]}}</span>
    </div>
  </div>
  <div class="phraseItem"></div>
  <div class="phraseItem"></div>
  <div class="phraseItem"></div>
</div>
