@import '../style';
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    display: flex;
    width: 226px;
    padding: 5px;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.05);
    }
    .info {
      flex-grow: 1;
      width: calc(226px - 48px);
      display: flex;
      flex-direction: column;
      padding-left: 0.8rem;
      .name {
        margin-top: 5px;
      }
    }
  }
}
