@import '../style';
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    display: flex;
    width: 226px;
    padding: 5px 0;
    margin-bottom: 10px;
    .info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
    }
  }
}
