<div class="carouselList">

  <ng-container *ngFor="let items of _carouselList; index as $index">
    <img [src]="operationServer +'/images/'+(items.images|fitImage)"
         [ngClass]="getClass($index)"
         (click)="click($index,items.name)">
  </ng-container>

  <div class="indicationList">
    <div class="indicationItem"
         [class.select]='selectIndex==$index'
         *ngFor="let items of _carouselList;index as $index"
         (click)="click($index)"></div>
  </div>

</div>

{{next$|async}}