.carouselList {
  user-select: none;
  display: block;
  position: relative;
  height: 180px;
  margin: 5px 0;
  transform-style: preserve-3d;
  img {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    transition: transform 500ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scaleX(0.6) scaleY(0.6);
    background-color: white;
    &.previous {
      transform: translateX(-10%) translateZ(0px) scaleY(0.9);
    }
    &.select {
      transform: translateX(0) translateZ(1px) scaleY(1);
    }
    &.next {
      transform: translateX(10%) translateZ(0px) scaleY(0.9);
    }
  }
}
