.subtitle {
  font-size: 10px;
  color: #787878;
  cursor: pointer;
}
.icon {
  width: 48px;
  height: 48px;
}

.cover {
  width: 226px;
  height: 140px;
  position: relative;
  &::before {
    content: url('/assets/images/default_cover.png');
    position: absolute;
  }
}

.empty {
  order: 1;
  opacity: 0;
}
