<dstore-title [title]="section.title|fitLanguage"
              [more]="'/ranking'"></dstore-title>

<div class="rankingList"
     *ngIf="apps$|async as $apps">
  <ng-container *ngFor="let $index of this.section.ranking.count|range">
    <div class="ranking"
         *ngIf="$apps[$index] as app;else $empty">
      <img class="icon"
           [src]="metadataServer+'/'+app.icon"
           [routerLink]="app.name">
      <div class="info">

        <span class="no">{{$index+1}}.</span>
        <div class="base">
          <div class="appTitle"
               [routerLink]="app.name">{{app.localInfo.description.name}}</div>
          <div class="subtitle"
               [routerLink]="['/category',app.category]">{{app.localCategory}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #$empty>
  <div class="ranking empty">
    <img class="icon">
  </div>
</ng-template>
