@import '../style';

:host {
  margin: 0 1rem;
}
.rankingList {
  display: flex;
  flex-direction: column;
  .ranking {
    display: flex;
    margin-bottom: 16px;
    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 1rem;
      border-bottom: solid 1px rgba(0, 0, 0, 0.15);
      .no {
        margin-right: 8px;
      }
      .subtitle {
        text-indent: calc(8px + 1rem);
      }
    }
  }
}

.textIndent {
  text-indent: calc(8px + 1.5rem) !important;
}
