<dstore-title [title]="title"></dstore-title>
<div class="rankingList">
  <div class="ranking" *ngFor="let app of ranking|async|slice:0:count;index as $index">
    <div class="icon">
      <img [src]="metadataServer+app.icon">
    </div>
    <div class="content">
      <div class="ranked">
        {{$index+1}}.
      </div>
      <div class="info">
        <span class="truncate">{{app.localInfo.description.name}}</span>
        <span class="category">{{app.localCategory}}</span>
      </div>
    </div>
  </div>
</div>
