.assembleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1px;
  .assemble {
    margin-top: 1rem;
    width: 226px;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    .title {
      margin: 0.2rem 1rem;
    }
    .appItem {
      display: flex;
      margin-top: 0.5rem;
      .cover {
        width: 226px;
        height: 140px;
      }
      &:last-child {
        .info {
          border: 0;
        }
      }
      &.first {
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .info {
          border: 0;
          margin-left: 1rem;
          .slogan {
            height: 1.5rem;
          }
        }
      }
      .icon {
        width: 48px;
        height: 48px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0.3rem 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .slogan {
          height: 2.5rem;
          color: gray;
          font-size: 12px;
        }
      }
    }
  }
}
