@import '../style';
.assembleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1px;
  .assemble {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    width: 224px;
    .title {
      font-weight: 500;
      padding: 5px 10px;
    }
    .iconItem {
      height: 73px;
      display: flex;
      align-items: center;
    }
    .coverItem {
      .info {
        padding: 6px 10px;
        .name {
          padding: 0;
        }
      }
    }
    .cover {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 rgba(255, 255, 255, 0.1);
    }
    .info {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 6px;
      height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .name {
        padding-top: 1rem;
      }
    }

    .item:last-child {
      .info {
        border: 0;
      }
    }
  }
}
