<dstore-title [title]="section.title|fitLanguage"></dstore-title>

<div class="assembleList">
  <div class="assemble"
       *ngFor="let $assemble of assembleList">
    <div class="title">
      {{$assemble.name|fitLanguage}}
    </div>
    <ng-container *ngFor="let $index of section.rowSpan|range;first as $first">
      <ng-container *ngIf="$assemble.apps[$index].name|appInfo|async as $app">
        <div class="item iconItem"
             *ngIf="!$first;else $Cover">
          <img [src]="server+'/'+$app.icon"
               class="icon">
          <div class="info">
            <span class="name">{{$app.localInfo.description.name}}</span>
            <span class="subtitle">{{$app.localInfo.description.slogan}}</span>
          </div>
        </div>
        <ng-template #$Cover>
          <div class="item coverItem">
            <img [src]="server+'/'+([$app.localInfo.images.cover,$app.localInfo.images.coverHD]|fitImage)"
                 class="cover">
            <div class="info">
              <span class="name">{{$app.localInfo.description.name}}</span>
              <span class="subtitle">{{$app.localInfo.description.slogan}}</span>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <!-- <ng-container *ngIf="!isFirst;else Cover">
        <img [src]="server+'/'+app.icon"
             class="icon">
        <div class="info">
          <span class="truncate">{{app.localInfo.description.name}}</span>
          <span class="slogan">{{app.localInfo.description.slogan}}</span>
        </div>
      </ng-container>
      <ng-template #Cover>
        <img [src]="server+'/'+app.localInfo.images.cover"
             class="cover">
        <div class="info">
          <span class="truncate">{{app.localInfo.description.name}}</span>
          <span class="slogan">{{app.localInfo.description.slogan}}</span>
        </div>
      </ng-template> -->
    <!--  <div class="title">
      {{assemble.name[0]}}
    </div>
    <div *ngFor="let app of assemble.apps;first as isFirst" class="appItem" [class.first]="isFirst" [routerLink]="app.name">
      <ng-container *ngIf="app.name|appInfo|async as app">
        <ng-container *ngIf="!isFirst;else Cover">
          <img [src]="metadataServer+'/'+app.icon" class="icon">
          <div class="info">
            <span class="truncate">{{app.localInfo.description.name}}</span>
            <span class="slogan">{{app.localInfo.description.slogan}}</span>
          </div>
        </ng-container>
        <ng-template #Cover>
          <img [src]="metadataServer+'/'+app.localInfo.images.cover" class="cover">
          <div class="info">
            <span class="truncate">{{app.localInfo.description.name}}</span>
            <span class="slogan">{{app.localInfo.description.slogan}}</span>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div *ngFor="let i of [1,2,3]" class="assemble" [style.height]='0'></div> -->
  </div>
</div>