<ng-container *ngIf="version as $version">
        <button *ngIf="!$version.localVersion && $version.remoteVersion"
                (click)="installApp($event)"
                [disabled]="disabled"
                i18n>Install</button>
        <button *ngIf="$version.localVersion && !$version.upgradable"
                (click)="openApp($event)"
                [disabled]="disabled"
                i18n>Open</button>
        <button *ngIf="$version.upgradable"
                (click)="updateApp($event)"
                [disabled]="disabled"
                i18n>Update</button>
</ng-container>