@import '../style';
.iconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .iconItem {
    width: 226px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: flex;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 1rem;
    }
  }
}
