<dstore-title [title]="title"></dstore-title>

<div class="iconList">
  <div class="iconItem" *ngFor="let app of apps" [hidden]="!app.name">
    <img [src]="metadataServer+(app.name|appInfo|async)?.icon" class="icon">
    <div class="info">
      <span class="truncate">{{(app.name|appInfo|async)?.localInfo.description.name}}</span>
      <span class="category">{{(app.name|appInfo|async)?.localCategory}}</span>
    </div>
  </div>
  <div class="iconItem"></div>
  <div class="iconItem"></div>
  <div class="iconItem"></div>
</div>
