@import '../style';
.iconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .iconItem {
    width: 226px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    &:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.05);
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 1rem;
    }
  }
}
