<dstore-title [title]="section.title|fitLanguage"
              [more]="section.more"></dstore-title>

<div class="iconList">
  <div class="iconItem"
       *ngFor="let $index of (section.rowSpan*section.colSpan)|range">
    <ng-container *ngIf="apps[$index]?.name|appInfo|async as appInfo">
      <img [src]="metadataServer+'/'+appInfo.icon"
           class="icon">
      <div class="info">
        <span class="truncate">{{appInfo.localInfo.description.name}}</span>
        <span class="subtitle">{{appInfo.localCategory}}</span>
      </div>
    </ng-container>
  </div>
</div>